# Infrastructure settings for development environment
YC_CLOUD_ID=replace-with-cloud-id
YC_FOLDER_ID=replace-with-folder-id
YC_FUNCTION_NAME=notify-gateway-dev
YC_API_GATEWAY_NAME=notify-gateway-dev-gw
