# Infrastructure settings for production environment
YC_CLOUD_ID=replace-with-cloud-id
YC_FOLDER_ID=replace-with-folder-id
YC_FUNCTION_NAME=notify-gateway-prod
YC_API_GATEWAY_NAME=notify-gateway-prod-gw
